{% extends 'anasayfa-anonymous.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <title>BiFilmVardı?</title>
    <meta name="description" content="Neydi Bu Film?">
    <meta name="keywords" content="Aradığınız filmi bulamıyor musunuz? Gelin size yardımcı olalım!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
          type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'styleform.css' %}">

{% endblock %}
{% block body %}

    <div class="text-center">
        <div class="padd">
            <div class="container">
                <div class="col-lg-12">
                    <img alt="logo" class="padd" src="/media/logo/logo.png">
                    <h3 style="font-size: 30px;color: #BDBDBD">Aradığın filmi bulamıyor musun?<br>Hemen üye ol,
                        aklında kalan
                        sahneyi yaz sana yardımcı olalım!</h3>
                    <a href="{% url 'register' %}"><input style="margin-top:30px" class="button1 text-uppercase"
                                                          type="button" value="Kayıt Ol"></a>
                    <p style="color:#BDBDB3;margin-top: 5px;">ya da</p>
                    <a href="{% url 'login' %}"><input class="button2 text-uppercase"
                                                       type="button" value="Giriş Yap"></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
{% endblock %}