{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'notifications.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leaderboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'comments.css' %}">

    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {% block head %}
    {% endblock %}
    <script>
        $(document).ready(function () {
            $('#notifications').click(function () {
                $('#dropdown').toggle(400);
            });
        });
    </script>
</head>
<body style="background-color: #F1EFE6">

<header id="header-top">
    <section>
        <div class="row">
            <div class="col-lg-12">
                <ul {% if not request.user.is_authenticated %}style="text-align: center"{% endif %}>
                    <li><a href="{% url 'gonderiler' %}"><i class="fas fa-home"></i> Ana Sayfa</a></li>
                    <li><a href="{% url 'score' %}"><i class="fas fa-trophy"></i> Puanlama</a></li>
                    <li><a href="{% url 'rules' %}"><i class="fas fa-file-contract"></i> Site Kuralları</a></li>
                    <li><a href="{% url 'contact' %}"><i class="fas fa-envelope"></i> İletişim</a></li>
                    {% if request.user.is_authenticated %}
                        <li style="float: right;">
                            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
</header>
<section id="sidebar">
    <div style="display: flow-root">
        <span style="color: #3CB5E0;font-size: 30px">Menü</span>
        <span style="float: right;"><i id="close-sidebar" style="font-size: 30px;color: #3CB5E0;margin-top: 10px;"
                                       class="fas fa-times"></i></span>
    </div>
    <ul>
        <li><a href="{% url 'gonderiler' %}"><i class="fas fa-home"></i> Ana Sayfa</a></li>
        {% if request.user.is_authenticated %}
            <li>
                <a {% if request.user.is_authenticated %}href="{% url 'post-create' %}"
                   {% else %}href="{% url 'login' %}"{% endif %}>
                    <i class="fas fa-plus-circle"></i> Gönderi Oluştur
                </a>
            </li>
            <li><a href="{% url 'my-posts' request.user.username %}"><i class="fas fa-archive"></i>
                Gönderilerim</a></li>
            <li><a href="{% url 'bookmarks' request.user.username %}"><i class="fas fa-bookmark"></i> Takip
                Ettiklerim</a></li>
            <li><a href="{% url 'profile-info' request.user.username %}"><i class="fas fa-user"></i> Profil</a>
            </li>
            <li><a href="{% url 'profile-notifications' request.user.username %}"><i class="fas fa-bell"></i> <span
                    style="font-size: 12px;" class="badge badge-light">{{ msg }}</span></a></li>
            <hr style="border-color: white">
        {% endif %}
        <li><a href="{% url 'score' %}"><i class="fas fa-trophy"></i> Puanlama</a></li>
        <li><a href="{% url 'contact' %}"><i class="fas fa-envelope"></i> İletişim</a></li>
        <li><a href="{% url 'rules' %}"><i class="fas fa-file-contract"></i> Site Kuralları</a></li>
        <hr style="border-color: white">
        {% if not request.user.is_authenticated %}
            <li>
                <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
            </li>
            <li>
                <a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Kayıt Ol</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
            </li>
        {% endif %}
    </ul>
</section>
<header id="header-bot">
    <section>
        <div class="row">
            {% if request.user.is_authenticated %}
                <div class="col-lg-12">
                    <a href="{% url 'gonderiler' %}">
                        <img alt="logo" class="float-left logo-navbar" src="/media/logo/logo3.png"></a>
                    <ul>
                        <li class="a">
                            <a {% if request.user.is_authenticated %}href="{% url 'post-create' %}"
                               {% else %}href="{% url 'login' %}"{% endif %}>
                                <i class="fas fa-plus-circle"></i> Gönderi Oluştur
                            </a>
                        </li>
                        <li class="a"><a href="{% url 'my-posts' request.user.username %}"><i
                                class="fas fa-archive"></i>
                            Gönderilerim</a></li>
                        <li class="a"><a href="{% url 'bookmarks' request.user.username %}"><i
                                class="fas fa-bookmark"></i>
                            Takiplerim
                        </a></li>
                        <li class="a"><a href="{% url 'profile-info' request.user.username %}"><i
                                class="fas fa-user"></i> Profil</a>
                        </li>
                        <li class="a">
                            <a href="{% url 'profile-notifications' request.user.username %}">
                                <i class="fas fa-bell"></i>
                                <span style="font-size: 12px;" id="badge" class="badge badge-light">{{ msg }}
                            </span>
                            </a>
                        </li>
                    </ul>
                    <span style="margin-top: 30px;" id="sidebar-button"><i
                            style="font-size: 30px;color: white" class="fas fa-bars"></i></span>
                </div>
            {% else %}
                <div class="col-lg-12 navbar-logo-div">
                    <a href="{% url 'gonderiler' %}"><img alt="logo" src="/media/logo/logo3.png" class="logo-navbar-2"></a>
                    <span id="sidebar-button" style="margin-top: 30px;"><i style="font-size: 30px;color: white"
                                                                           class="fas fa-bars"></i></span>
                    <a class="a-back float-right mt-4" style="margin-right: 185px;margin-left: 7px;"
                       href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
                    <a class="a-back float-right mt-4" href="{% url 'register' %}"><i class="fas fa-user-plus"></i>
                        Kayıt Ol</a>
                </div>
            {% endif %}
        </div>
    </section>
</header>

{% block body %}
{% endblock %}

<footer class="footer-bs" style="margin: 0">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-brand animated fadeInLeft">
                <img src="/media/logo/logo3.png" height="50px">
                <p style="margin-top: 10px">neydibufilm.com, daha önce izlediği veya bir yerde gördüğü bir filmin adını
                    arayanların buluştuğu bir web
                    sitesidir.</p>
            </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Hızlı Linkler —</h4>
                <div><!-- ul class >> pages -->
                    <ul class="list">
                        <li><a href="{% url 'gonderiler' %}"><i class="fas fa-home"></i> Ana Sayfa</a></li>
                        <li><a href="{% url 'score' %}"><i class="fas fa-trophy"></i> Puanlama</a></li>
                        <li><a href="{% url 'rules' %}"><i class="fas fa-file-contract"></i> Site Kuralları</a></li>
                        {% if not request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Kayıt Ol</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-ns animated fadeInRight">
                <h4>İletişime Geçin</h4>
                <p>Bize site hakkında geri bildirimde bulunun.</p>

                <div class="input-group">
                        <span class="input-group-btn">
                        <button onclick="window.location.href ={% url 'contact' %};"
                                class="btn btn-sm btn-outline-light" type="button">
                            <span><i class="fas fa-envelope"></i><b style="margin-left: 10px;">İLETİŞİM</b></span>
                        </button>
                        </span>
                </div>

            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>