{% extends 'navbar-background.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'input.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'leaderboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'comments.css' %}">

    <title>Gönderi Oluştur</title>
{% endblock %}

{% block body %}
    <div class="container as">
        <div class="row">
            <div class="col-lg-9"
                 style="margin-top: 60px;">
                <div class="contact-background" style="height: auto;">
                    <div style="margin-top: 20px;" class="messages alert alert-info">
                        <div class="row">
                            <div class="col-lg-1" style="padding-left: 0">
                                <i id="excla" style="font-size: 85px;margin-top: 20px;color: orange"
                                   class="fas fa-exclamation-circle"></i>
                            </div>
                            <div class="col-lg-11">
                                <ul id="excla-ul">
                                    <b>Gönderi Oluştururken dikkat etmeniz gerekenler:</b>
                                    <li>Başlığınız içerikle uyumlu ve anlamlı olmalı. (ör: Eski Bir Savaş Filmi)
                                    </li>
                                    <li>İçeriğiniz argo, küfür vb. kelimeler içermemeli.</li>
                                    <li>İçeriğiniz noktalama işaretlerin uygun ve okunabilir olmalı.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <form action="{% url 'post-create' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <span style="color: dodgerblue;font-weight: bold">{{ createForm.baslik.label|upper }}</span>{{ createForm.baslik }}
                                <span style="color: dodgerblue;font-weight: bold">İÇERİK</span>{{ createForm.icerik }}
                                <input type="submit" class="btn btn-sm btn-outline-info float-right" value="Gönderi Oluştur">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                {% include 'sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}