{% extends 'navbar-background.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'paginator.css' %}">

    <title></title>
    <meta name="description" content="Aradığı filmi bulamayanların forumu."/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            {% for post in gonderi %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" style="padding-left: 30px">
                    <div class="card mt-5 text-center" style="width: 95%;">
                        <div style="background-color: #2F3239">
                            <img style="width: 100px;height: 100px;margin: 0 auto; border: 2px groove whitesmoke;border-radius: 50%"
                                 src="/media/{{ post.yayinlayan.profil.profilFoto }}" alt="Profil Fotoğrafı">
                            <div style="color:#EAEDF1">
                                <a class="link"
                                   href="{% url 'profile-info' post.yayinlayan.username %}">
                                    <span class="card-username">{{ post.yayinlayan.username }}</span>
                                </a><br>
                                <span>{{ post.tarih }}</span>
                            </div>
                        </div>
                        <div class="card-body" style="padding-top: 10px">
                            <h6 class="card-title">{{ post.baslik|upper|truncatechars:52 }}</h6>
                            <hr class="first-style" style="margin-bottom: 5px;margin-top: 0">
                            <p style="margin-bottom: 0">
                                {{ post.icerik|truncatechars:100 }}
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="row justify-content-center">
                                <a class="btn" style="background: #3498DB; color: #EAEDF1;"
                                   href="{% url 'post-detail' post.slug %}"
                                   role="button">Devamını Gör</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination-wrapper">
                    <div class="pagination">
                        {% if gonderi.has_other_pages %}
                            {% if gonderi.has_previous %}
                                <a class="prev page-numbers" href="?page={{ gonderi.previous_page_number }}">&laquo;</a>
                            {% else %}
                                <a class="prev page-numbers disabled">&laquo;</a>
                            {% endif %}
                            {% for page in gonderi.paginator.page_range %}
                                {% if gonderi.number == page %}
                                    {% if page|add:-10 > 0 %}
                                        <a href="?page={{ page|add:-10 }}"><span aria-current="page"
                                                                                 class="page-numbers">{{ page|add:-10 }}</span></a>
                                        <span class="page-numbers">...</span>
                                    {% endif %}
                                    {% if page|add:-2 > 0 %}
                                        <a href="?page={{ page|add:-2 }}"><span aria-current="page"
                                                                                class="page-numbers">{{ page|add:-2 }}</span></a>
                                    {% endif %}
                                    {% if page|add:-1 > 0 %}
                                        <a href="?page={{ page|add:-1 }}"><span aria-current="page"
                                                                                class="page-numbers">{{ page|add:-1 }}</span></a>
                                    {% endif %}
                                    <span aria-current="page" class="page-numbers current">{{ page }}</span>
                                    {% if page|add:1 <= gonderi.paginator.num_pages %}
                                        <a href="?page={{ page|add:1 }}"><span aria-current="page"
                                                                               class="page-numbers">{{ page|add:1 }}</span></a>
                                    {% endif %}
                                    {% if page|add:2 <= gonderi.paginator.num_pages %}
                                        <a href="?page={{ page|add:2 }}"><span aria-current="page"
                                                                               class="page-numbers">{{ page|add:2 }}</span></a>
                                    {% endif %}
                                    {% if page|add:10 <= gonderi.paginator.num_pages %}
                                        <span class="page-numbers">...</span>
                                        <a href="?page={{ page|add:10 }}"><span aria-current="page"
                                                                                class="page-numbers">{{ page|add:10 }}</span></a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if gonderi.has_next %}
                                <a class="next page-numbers" href="?page={{ gonderi.next_page_number }}">&raquo;</a>
                            {% else %}
                                <a class="next page-numbers disabled">&laquo;</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}