{% extends 'navbar-background.html' %}
{% load static %}
{% load social_share %}

{% block head %}
    <title>{{ post.baslik }}</title>
    <meta name="description" content="{{ post.icerik }}"/>
    <script type="text/javascript">
        function copy_current_url() {
            var valText = "{{ request.build_absolute_uri }}";
            const el = document.createElement('textarea');
            el.value = valText;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            alert("Link kopyalandı.");
        }

        $(document).click(function () {
            $('#search-div').hide(700)
        });
    </script>
{% endblock %}

{% block body %}
    <div class="as">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="word-break: break-word">
                    {% include 'messages.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="content-wrap">
                        <div class="comment-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12" style="padding: 0">
                                        <div style="font-weight: bold;padding: 10px 0 0 23px;width: 89%;float: left">
                                            <i style="font-size: 20px;" class="fas fa-arrow-alt-circle-right"></i>
                                            {{ post.baslik }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12" style="padding-top: 10px">
                                        <img style="border-radius: 50%;width: 30px"
                                             src="/media/{{ post.yayinlayan.profil.profilFoto }}">
                                        <a href="{% url 'profile-info' post.yayinlayan.username %}"><span
                                                class="post-info-span">{{ post.yayinlayan.username }}</span></a>
                                        <i class="far fa-clock post-info-icon"></i><span
                                            class="post-info-span">{{ post.tarih }}</span>
                                        <i class="fas fa-eye post-info-icon"></i><span
                                            class="post-info-span">{{ post.views_count }}</span>
                                        <i class="far fa-comments post-info-icon"></i><span
                                            class="post-info-span">{{ comment_count }}</span>
                                        <i class="fas fa-star post-info-icon"></i>
                                        <span class="post-info-span">{{ follow_count }}</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="the--comment">
                                    <p style="margin-bottom: 0" class="post">{{ post.icerik }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-wrap" style="margin-top: 10px">
                        <div class="comment-item pl-4 pt-2 pb-2 pr-4">
                            <div class="no-comment zero-comment">
                                <span class="font-weight-bold pr-2"></span>
                                {% post_to_facebook request.build_absolute_uri %}
                                {% post_to_twitter request.build_absolute_uri %}
                                {% send_email 'Aradığım filmi bulmama yardımcı olabilir misin?' request.build_absolute_uri %}
                                <i onclick="copy_current_url()" class="fas fa-link"></i>
                                {% if request.user != post.yayinlayan and request.user.is_authenticated %}
                                    <button data-toggle="modal" data-target="#report-post-2"
                                            class="button-clear float-right"
                                            id="report-post">
                                        <i style="color: #dd0000" class="fas fa-exclamation-triangle"></i>
                                    </button>
                                {% endif %}
                                {% if request.user.is_authenticated and request.user != post.yayinlayan %}
                                    <a id="follow-{{ post.slug }}" class="float-right" data-toggle="tooltip"
                                       title="Takip Et">
                                        {% if is_followed %}
                                            <i id="follow-i-{{ post.slug }}"
                                               style="color: #FFCB1C;transition: color 1s;"
                                               class="fas fa-star"></i>
                                        {% else %}
                                            <i id="follow-i-{{ post.slug }}"
                                               style="color: #bfbfbf;transition: color 1s;"
                                               class="fas fa-star"></i>
                                        {% endif %}
                                    </a>
                                {% endif %}
                                {% if request.user == post.yayinlayan %}
                                    <a href="{% url 'edit-post' post.slug %}" class="float-right">
                                        <i style="color: #dd8500;" class="far fa-edit"></i>
                                    </a>
                                {% endif %}
                                {% if request.user == post.yayinlayan or request.user.role_user.role == 6 %}
                                    <button style="background-color: white;border: none;padding: 0" class="float-right"
                                            data-toggle="modal"
                                            data-target="#postDelete">
                                        <i style="color: #8DB5CD" class="far fa-trash-alt"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- MODAL DELETE POST-->
                    <div class="modal fade" id="postDelete">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Dikkat!</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <b>Oluşturduğunuz gönderiyi silmek istediğinizden emin misiniz?</b>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç
                                    </button>
                                    <button type="button"
                                            onclick="location.href='{% url 'delete-post' post.slug %}';"
                                            class="btn btn-success">
                                        Sil
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-wrap" style="box-shadow: none; margin-top: 5em;">
                        <div class="comment-wrap">
                            <div class="comment-block">
                                <form id="search-movie" method="get" onsubmit="preventSubmit(event)">
                                    <div style="width: 100%;position: relative">
                                        <input id="search-value" style="width: 100%;float: left" type="text"
                                               placeholder="Film ara...">
                                        <div style="top: 23px;" id="search-div" class="ajax-search">
                                            <ul id="movie-ul"></ul>
                                        </div>
                                    </div>
                                </form>
                                <hr style="margin-top: 40px">
                                <form id="form-com" action="" method="post">
                                    {% csrf_token %}
                                    {{ yorumForm.yorum }}
                                    <div id="choosen-movies">
                                        <span id="movie-hyperlink"></span><span onClick='close_hyperlinks();'
                                                                                id="close-hyperlink">&times;</span>
                                    </div>
                                    <input {% if post.found %}disabled{% endif %} class="btn btn-sm btn-outline-success"
                                           type="button" id="submit-button" required
                                           {% if not request.user.is_authenticated %}onclick="location.href ='{% url 'login' %}'" {% endif %}
                                           value="Yorum Yap" style="margin-left: 10px;float: right;">
                                    <input class="btn btn-sm btn-outline-success" id="search-movie-button"
                                           style="float: right;width: 87px"
                                           {% if post.found %}disabled{% endif %}
                                           type="button"
                                           value="Ara"
                                           onclick="{% if not request.user.is_authenticated %}
                                               location.href ='{% url 'login' %}'{% endif %}">
                                </form>
                                <script>
                                    var is_followed = {{ is_followed|lower }};
                                    $(document).ready(function () {
                                        $('#follow-{{ post.slug }}').click(function () {
                                            $.ajax({
                                                type: 'get',
                                                url: "{% url 'follow' post.slug %}",
                                                success: function (data) {
                                                    if (!is_followed) {
                                                        $('#follow-i-{{ post.slug }}').css({color: "#FFCB1C"});
                                                        is_followed = true;
                                                    } else {
                                                        $('#follow-i-{{ post.slug }}').css({color: '#BFBFBF'});
                                                        is_followed = false;
                                                    }
                                                }
                                            });
                                        });
                                        $('[data-toggle="tooltip"]').tooltip();
                                    });
                                    $(document).ready(function () {
                                        $('#submit-button').click(function () {
                                            var form = $('#form-com');
                                            var link;
                                            var a = $('#a_mov');
                                            if (a.attr("href")) {
                                                var mov_link_href = a.attr("href").split('/')[3];
                                                var mov_link = a.text();
                                                link = '{% url 'comment' post.slug 'mov_link' 'mov_link_id' %}'.replace('mov_link', mov_link).replace('mov_link_id', mov_link_href);
                                            } else
                                                link = '{% url 'comment' post.slug 'none' '1' %}';
                                            form.attr('action', link);
                                            if ($('#id_yorum').val() !== "") {
                                                form.submit();
                                            } else {
                                                alert("Lütfen yorum kısmını boş bırakmayın.")
                                            }
                                        });

                                        $('#search-movie-button').click(function () {
                                            valuee = $('#search-value').val();
                                            var ul = $('#movie-ul');
                                            var x = 0;
                                            $.ajax({
                                                type: 'get',
                                                url: "{% url 'search-movie' 's' %}".replace('s', valuee),
                                                success: function (data) {
                                                    ul.text(" ");

                                                    for (var i = 0; data[x] != undefined; i++) {
                                                        ul.append(
                                                            "<li onClick='return liClick(this);' id='" + data[x + 3] + "'" + " class='search-li'>" + "<img width='75px' height='90px' src='" + data[x + 2] + "'>" + " " + "<div class='search-text'>" + data[x] + "- (" + data[x + 1] + ")" + "</div>" + "</li><hr>"
                                                        );
                                                        x += 4;
                                                    }
                                                    $('#search-div').show(700);
                                                }
                                            });
                                        });
                                    });

                                    function liClick(obj) {
                                        var movie_id = $(obj).attr("id");
                                        var movie_name = $(obj).text().split('-')[0];
                                        var textarea = $('#id_yorum');
                                        var div_hyperlinks = $('#movie-hyperlink');

                                        $('#choosen-movies').show();
                                        var current_text = textarea.val();
                                        var new_text = "<i style=\"font-size: 20px;vertical-align: sub;margin-right: 5px;\" class=\"fas fa-film\"></i><a target='_blank' style='color: white;' id='a_mov' href='" + "{% url 'movie' 's' 'a' %}".replace('a', movie_name).replace('s', movie_id) + "'>" + movie_name + "</a>";

                                        div_hyperlinks.html(new_text);

                                        $('#search-div').hide(1000);
                                    }

                                    function close_hyperlinks() {
                                        $('#movie-hyperlink').html("");
                                        $('#choosen-movies').hide();
                                    }
                                </script>
                            </div>
                        </div>

                        {% if choosen_comment %}
                            <div class="comment-wrap">
                                <div class="comment-block" style="border: 2px solid limegreen;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <img class="com-img"
                                                 src="/media/{{ choosen_comment.sahip.profil.profilFoto }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                 style="float: right"
                                                 viewBox="0 0 512 512">
                                                <path fill="limegreen"
                                                      d="M504.1 256C504.1 119 393 7.9 256 7.9S7.9 119 7.9 256 119 504.1 256 504.1 504.1 393 504.1 256z"/>
                                                <path fill="#fff"
                                                      d="M392.6 172.9c-5.8-15.1-17.7-12.7-30.6-10.1-7.7 1.6-42 11.6-96.1 68.8-22.5 23.7-37.3 42.6-47.1 57-6-7.3-12.8-15.2-20-22.3-22.1-22.1-46.8-37.3-47.8-37.9-10.3-6.3-23.8-3.1-30.2 7.3-6.3 10.3-3.1 23.8 7.2 30.2.2.1 21.4 13.2 39.6 31.5 18.6 18.6 35.5 43.8 35.7 44.1 4.1 6.2 11 9.8 18.3 9.8 1.2 0 2.5-.1 3.8-.3 8.6-1.5 15.4-7.9 17.5-16.3.1-.2 8.8-24.3 54.7-72.7 37-39.1 61.7-51.5 70.3-54.9h.3s.3-.1.8-.4c1.5-.6 2.3-.8 2.3-.8-.4.1-.6.1-.6.1v-.1l11.5-5c11.1-4.8 14.8-16.8 10.4-28z"/>
                                            </svg>
                                            <a class="a-post-detail"
                                               href="{% url 'profile-info' choosen_comment.sahip.username %}"><span
                                                    class="font-com-user"> {{ choosen_comment.sahip.username }}</span></a>
                                            <span style="padding: 4px 7px;"
                                                  class="{{ choosen_comment.sahip.role_user.role }}">{{ choosen_comment.sahip.role_user.get_role_display }}</span>
                                        </div>
                                    </div>
                                    <div class="bottom-comment">
                                        <div style="padding-top: 10px;font-weight: bold;color: #BDBDBD">{{ choosen_comment.time|timesince }}
                                            önce
                                            <span style="font-size: 25px;vertical-align: sub;color: #BDBDBD;">&bull;</span>
                                            <a {% if request.user.is_authenticated %}id="comment-like-{{ choosen_comment.id }}"
                                               onclick="choosen_like();choosen_heart();"
                                               {% else %}
                                               href="{% url 'login' %}" style="color: grey;"
                                               {% endif %}
                                               data-toggle="tooltip" title="Beğen"
                                               class="a">

                                                <i id="comm-like-icon-{{ choosen_comment.id }}"
                                                   style="transition-duration: .5s"
                                                   class="fas fa-heart"></i>

                                                <span id="like-number-{{ choosen_comment.id }}"
                                                      style="color: #BDBDBD">{{ choosen_comment.likes.all.count }}</span>
                                            </a>

                                            <a {% if request.user.is_authenticated %}id="report-comment-{{ choosen_comment.id }}"
                                               {% else %}
                                               href="{% url 'login' %}"
                                               {% endif %}>
                                                <button type="button" data-toggle="modal" data-target="#report"
                                                        style="background-color: white;border: none;padding: 0">
                                                    <img alt="report" src="/media/Icons8/icons8-error-48.png">
                                                </button>
                                            </a>
                                            {% if request.user.username == choosen_comment.sahip.username or request.user.user_role.role == 6 %}
                                                <span style="font-size: 25px;vertical-align: sub;color: #BDBDBD;">&bull;</span>
                                                <button style="background-color: white;border: none;padding: 0"
                                                        data-toggle="modal"
                                                        data-target="#commentDelete">
                                                    <img src="/media/Icons8/bin.png">
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="comment-text">{{ choosen_comment.yorum|safe }}</p>
                                    {% if not choosen_comment.movie_tag == 'none' %}
                                        <div id="comment-mov-div" class="choosen-movies" style="display: block;">
                                    <span id="comment-mov-hyperlink" class="movie-hyperlink">
                                        <a target="_blank"
                                           href="{% url 'movie' choosen_comment.movie_tag_href choosen_comment.movie_tag %}">
                                            <i style="margin-right: 5px; vertical-align: sub; font-size: 20px;"
                                               class="fas fa-film"></i>
                                            {{ choosen_comment.movie_tag }}
                                        </a>
                                    </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        {% for comment in post.get_comments %}
                            {% if not comment.that_movie %}
                                <div class="comment-wrap">
                                    <div class="comment-block">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img class="com-img" src="/media/{{ comment.sahip.profil.profilFoto }}">
                                                <a class="a-post-detail"
                                                   href="{% url 'profile-info' comment.sahip.username %}"><span
                                                        class="font-com-user">{{ comment.sahip.username }}</span></a>
                                                <span style="padding: 4px 7px;"
                                                      class="{{ comment.sahip.role_user.role }}">
                                            {{ comment.sahip.role_user.get_role_display }}
                                        </span>
                                            </div>
                                        </div>
                                        <div class="bottom-comment">
                                            <div style="padding-top: 10px;font-weight: bold;color: #BDBDBD">{{ comment.time|timesince }}
                                                önce
                                                <span style="font-size: 25px;vertical-align: sub;color: #BDBDBD;">&bull;</span>
                                                <a {% if request.user.is_authenticated %}id="comment-like-{{ comment.id }}"
                                                   {% else %}
                                                   href="{% url 'login' %}" style="color: grey"
                                                   {% endif %} data-toggle="tooltip" title="Beğen"
                                                   class="a">

                                                    <i id="comm-like-icon-{{ comment.id }}"
                                                       style="transition-duration: .5s"
                                                       class="fas fa-heart"></i>

                                                    <span id="like-number-{{ comment.id }}"
                                                          style="color: #BDBDBD">{{ comment.likes.all.count }}</span>
                                                </a>

                                                <a {% if request.user.is_authenticated %}id="report-comment-{{ comment.id }}"
                                                   {% else %}
                                                   href="{% url 'login' %}"
                                                   {% endif %}>
                                                    <button type="button" data-toggle="modal" data-target="#report"
                                                            style="background-color: white;border: none;padding: 0">
                                                        <img alt="report" src="/media/Icons8/icons8-error-48.png">
                                                    </button>
                                                </a>
                                                {% if request.user.username == post.yayinlayan.username or request.user.role_user.role == 6 %}
                                                    {% if comment.sahip.username != request.user.username %}
                                                        <button style="background-color: white;padding: 0;border: none;"
                                                                type="button"
                                                                data-toggle="modal"
                                                                data-target="#movieFound">
                                                            <img alt="" src="/media/Icons8/check.svg">
                                                        </button>
                                                    {% endif %}
                                                {% endif %}
                                                {% if request.user.username == comment.sahip.username or request.user.role_user.role == 6 %}
                                                    <button style="background-color: white;border: none;padding: 0"
                                                            data-toggle="modal"
                                                            data-target="#commentDelete">
                                                        <img alt="" src="/media/Icons8/bin.png">
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                        <p class="comment-text">{{ comment.yorum|safe }}</p>
                                        {% if not comment.movie_tag == 'none' %}
                                            <div id="comment-mov-div" class="choosen-movies" style="display: block;">
                                                <span id="comment-mov-hyperlink" class="movie-hyperlink">
                                                    <a target="_blank"
                                                       href="{% url 'movie' comment.movie_tag_href comment.movie_tag %}">
                                                        <i style="font-size: 20px;vertical-align: sub;margin-right: 5px;"
                                                           class="fas fa-film"></i>
                                                        {{ comment.movie_tag }}
                                                    </a>
                                                </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        var clicked;

                                        $.ajax({
                                            url: "{% url 'check-like' post.slug comment.id %}",
                                            success: function (data) {
                                                if (data === 'true') {
                                                    clicked = data;
                                                    $('#comm-like-icon-{{ comment.id }}').css({
                                                        'color': 'red',
                                                        fontSize: '24px'
                                                    }, 400);
                                                } else {
                                                    clicked = 'false';
                                                }
                                            }
                                        });


                                        $('#comment-like-{{ comment.id }}').click(function () {
                                            $.ajax({
                                                url: "{% url 'like' post.slug comment.id %}",
                                                dataType: 'json',
                                                success: function (data) {
                                                    $('#like-number-{{ comment.id }}').text(data['like_count']);
                                                    clicked = data['is_liked'];
                                                }
                                            });
                                        });

                                        $('#report-comment-{{ comment.id }}').click(function () {
                                            $.ajax({
                                                url: "{% url 'report' post.slug comment.id %}",
                                                success: function (data) {
                                                    $('#report-count-{{ comment.id }}').text(data);
                                                }
                                            });
                                        });

                                        $('#comment-like-{{ comment.id }}').click(function () {
                                            if (clicked === 'false') {
                                                $('#comm-like-icon-{{ comment.id }}').css({
                                                    'color': 'red',
                                                    fontSize: '24px'
                                                }, 400);
                                                clicked = true;
                                            } else {
                                                $('#comm-like-icon-{{ comment.id }}').css({
                                                    'color': '#BDC3D4',
                                                    fontSize: '15px'
                                                });
                                                clicked = false;
                                            }
                                        });
                                    });
                                </script>
                            {% endif %}
                            <!-- THAT MOVİE MODAL -->
                            <div class="modal fade" id="movieFound">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Dikkat!</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <b>Aradığınız filmin bu olduğundan emin değilseniz devam etmeyin. Bu
                                                işlemin
                                                geri dönüşü yoktur.</b>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç
                                            </button>
                                            <button type="button"
                                                    onclick="location.href='{% url 'that-movie' post.slug comment.id %}';"
                                                    class="btn btn-success">
                                                Devam
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- REPORT MODAL -->
                            <div class="modal fade" id="report">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Kullanıcıyı Raporla</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <form method="post" action="{% url 'report' post.slug comment.id %}">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                Kategori Seçin:
                                                {{ reportForm.reason }}
                                                Açıklama:
                                                {{ reportForm.comment }}
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                    Vazgeç
                                                </button>
                                                <button type="submit" class="btn btn-success">
                                                    Raporla
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="commentDelete">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Dikkat!</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;
                                            </button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <b>{% if request.user == comment.sahip %}Yorumunuzu silmekistediğinizden
                                                emin
                                                misiniz?
                                            {% else %}
                                                {{ comment.sahip }} adlı kullanıcının yorumunu silmek istediğinizden
                                                emin
                                                misiniz?
                                            {% endif %}
                                            </b>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç
                                            </button>
                                            <button type="button"
                                                    onclick="location.href='{% url 'delete-comment' comment.id post.slug %}';"
                                                    class="btn btn-success">
                                                Sil
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="comment-wrap zero-comment">
                                <div style="text-align: center;" class="comment-block no-comment">
                                    <i style="font-size: 50px;margin-bottom: 10px;color: #00BA09;"
                                       class="far fa-comment-dots"></i>
                                    <p>Henüz hiç yorum yapılmamış. Paylaşarak daha fazla kişiye ulaşmasını
                                        sağlayabilirsin.</p>
                                    {% post_to_facebook 'LİNK' %}
                                    {% post_to_twitter 'LİNK' %}
                                    {% send_email 'Aradığım filmi bulmama yardımcı olabilir misin?' 'LİNK' %}
                                    <i onclick="copy_current_url()" class="fas fa-link"></i>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- REPORT POST MODAL -->
                        <div class="modal fade" id="report-post-2">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Kullanıcıyı Raporla</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;
                                        </button>
                                    </div>

                                    <!-- Modal body -->
                                    <form method="post" action="{% url 'report-post' post.slug %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            Kategori Seçin:
                                            {{ reportForm.reason }}
                                            Açıklama:
                                            {{ reportForm.comment }}
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                Vazgeç
                                            </button>
                                            <button type="submit" class="btn btn-success">
                                                Raporla
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        function preventSubmit(e) {
            e.preventDefault();
        }

        function comment_hyperlink() {
            var span_hyper = $('#comment-mov-hyperlink');
            var div_hyper = $('#comment-mov-div');
            var cur_hyperlink = $('#movie-hyperlink');
            var comment = $('#id_yorum');

            if (cur_hyperlink.html() !== "" && comment !== "") {
                div_hyper.show();
                span_hyper.html(cur_hyperlink.html());
            }
        }
        {% if post.found %}
            var clicked;
            $(document).ready(function () {
                $.ajax({
                    url: "{% url 'check-like-choosen' choosen_comment.id %}",
                    success: function (data) {
                        if (data === 'true'){
                            clicked = data;
                            $('#comm-like-icon-{{ choosen_comment.id }}').css({'color': 'red', fontSize: '24px'}, 400);
                        }else {
                            clicked = 'false';
                        }
                    }
                })
            });

            function choosen_like() {
                $.ajax({
                    url: "{% url 'like' post.slug choosen_comment.id %}",
                    success: function (data) {
                        $('#like-number-{{ choosen_comment.id }}').text(data['like_count']);
                    }
                });
            }

            function choosen_heart() {

                if (clicked === 'false') {
                    $('#comm-like-icon-{{ choosen_comment.id }}').css({'color': 'red', fontSize: '24px'}, 400);
                    clicked = 'true';
                } else {
                    $('#comm-like-icon-{{ choosen_comment.id }}').css({'color': '#BDC3D4', fontSize: '15px'});
                    clicked = 'false';
                }
            }
        {% endif %}
    </script>
{% endblock %}