{% extends 'anasayfa-anonymous.html' %}
{% load static %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Kaydol</title>

    <style>
        li {
            list-style-type: none;
        }

        small {
            font-weight: bold;
            color: red;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="login-wrap">
        <h2>Kayıt Formu</h2>
        <form id="register-form" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form">
                <div class="input-container">
                    <i class="fas fa-user icon"></i>
                    {{ registerForm.username }}
                </div>
                <p style="color:#ff0000; font-size: 12.8px; font-weight: bold" id="message-username"></p>
                <div class="input-container" style="margin: 0; padding: 0">
                    {% if registerForm.username.errors %}
                        <br>
                        <small>{{ registerForm.username.errors }}</small>
                    {% endif %}
                </div>
                <div class="input-container">
                    <i class="fas fa-envelope icon"></i>
                    {{ registerForm.email }}
                </div>
                <p style="color:#ff0000; font-size: 12.8px; font-weight: bold" id="message-email"></p>
                <div class="input-container" style="margin: 0; padding: 0">
                    {% if registerForm.email.errors %}
                        <br>
                        <small>{{ registerForm.email.errors }}</small>
                    {% endif %}
                </div>
                <div class="input-container">
                    <i class="fas fa-key icon"></i>
                    {{ registerForm.password }}
                </div>
                <div class="input-container" style="margin: 0; padding: 0">
                    {% if registerForm.password.errors %}
                        <br>
                        <small>{{ registerForm.password.errors }}</small>
                    {% endif %}
                </div>
                <div class="input-container">
                    <i class="fas fa-key icon"></i>
                    {{ registerForm.password_confirm }}
                </div>
                <div class="input-container" style="margin: 0; padding: 0">
                    <p style="color:#ff0000; font-size: 12.8px; font-weight: bold" id="message-pass"></p>
                    {% if registerForm.password_confirm.errors %}
                        <br>
                        <small>{{ registerForm.password_confirm.errors }}</small>
                    {% endif %}
                </div>
                <button type="submit">Kayıt Ol</button>
                <a href="{% url 'login' %}"><p> Zaten hesabın var mı? Giriş yap </p></a>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/validation.js' %}"></script>
{% endblock %}