{% extends 'navbar-background.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pagination.css' %}">

    <title>{{ request.user.username }} - Profili</title>
    <meta name="description" content="{{ request.user.username }} adlı kullanıcının profili."/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12" style="word-break: break-word">
                {% include 'messages.html' %}
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div id="left-profile" class="col-lg-3 col-md-4">
                <div class="text-center card-box" style="padding-bottom: 32px;">
                    <div class="member-card">
                        <div class="thumb-xl member-thumb m-b-10 center-block">
                            <img id="user-photo" style="height: 190px;width:200px"
                                 src="/media/{{ profil.profil.profilFoto }}"
                                 class="img-circle img-thumbnail" alt="profile-image">
                        </div>

                        <div style="word-break: break-all;">
                            <h4 class="m-b-5">{{ profil.username }}</h4>
                        </div>

                        <div class="{{ profil.role_user.role }}">{{ profil.role_user.get_role_display }}
                        </div>
                        <hr>
                        {% if request.user.is_authenticated %}
                            {% if request.user.username == profil.username %}
                                <button id="photo-open-div" class="photo-button" style="width: 75%;margin-bottom: 13px">
                                    Fotoğrafı Değiştir
                                </button>
                                <div id="photo">
                                    <form method="post" action="{% url 'choose-photo' request.user.username %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <select id="choose-photo" name="select" onchange="try_photo()">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                        <input class="photo-button" type="submit" value="Seç">
                                    </form>
                                    <hr style="width: 50%">
                                    <form method="post" action="{% url 'change-photo' request.user.username %}"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ photoForm.profilFoto }}
                                        <input class="photo-button" type="submit" value="Yükle">
                                    </form>
                                </div>
                                <hr>
                            {% endif %}
                        {% endif %}
                        <div class="text-left" style="padding: 0 7px;">
                            <p class="text-muted font-13"><strong>Puan :</strong> <span
                                    class="m-l-15">{{ profil.role_user.puan }}</span></p>
                            <p class="text-muted font-13"><strong>Gönderi : </strong><span
                                    class="m-l-15">{{ profil.profil.post_count }}</span></p>
                            <p class="text-muted font-13"><strong>Yorum :</strong> <span
                                    class="m-l-15">{{ profil.profil.comment_count }}</span></p>
                            <p class="text-muted font-13"><strong>Bulduğu Film :</strong> <span
                                    class="m-l-15">{{ profil.profil.buldugu_film }}</span></p>
                        </div>
                        <hr>

                        <ul style="list-style: none; text-align: left; padding-left: 0">
                            <li class="tab-button">
                                <a href="{% url 'profile-info' profil.username %}">
                                    {% if request.user.username == profil.username %}Bilgilerim{% else %}
                                        Bilgileri{% endif %}
                                </a>
                            </li>
                            {% if request.user.username == profil.username %}
                                <li class="tab-button"><a href="{% url 'settings' profil.username %}">Bilgileri
                                    Düzenle</a></li>
                                <li class="tab-button"><a href="{% url 'profile-notifications' profil.username %}">Bildirimler</a>
                                </li>
                            {% endif %}
                            <li class="tab-button">
                                <a href="{% url 'my-posts' profil.username %}">
                                    {% if request.user.username == profil.username %}Gönderilerim{% else %}
                                        Gönderileri{% endif %}
                                </a>
                            </li>
                            <li class="tab-button">
                                <a href="{% url 'bookmarks' profil.username %}">
                                    {% if request.user.username == profil.username %}Takip Ettiklerim{% else %}Takip
                                        Ettikleri{% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 profile-background-right">
                {% block tabs %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script rel="script" src="{% static 'js/profile-photo.js' %}"></script>
{% endblock %}