.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

.status-upload form {
    float: left;
    width: 100%;
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}

.status-upload ul > li {
    float: left;
}

.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}

.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}


input.yorumButonu {
    background-color: #51DB51;
    color: whitesmoke;
    border-radius: 5px;
    float: right;
    width: 135px;
    height: 30px;
}

input.yorumButonu:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 0.5s;
    cursor: pointer;
}

span.sahip {
    background-color: #03658C;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    padding: 5px;
    margin-left: 5px;
}

/*DROPDOWN*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 25px;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* SHARE-LİKE-FOLLOW */

.social-cont {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(238, 238, 238);
    background-color: rgba(240, 240, 240, 0);
    padding-top: 7px;
    padding-bottom: 7px;
    display: table;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.social-cont span.inline {
    vertical-align: middle;
    height: 38px;
    font-size: 16px;
    padding-right: 15px;
}

.social-cont span.inline i {
    font-size: 20px;
}

.social-cont span.inline i.up {
    color: #00b226;
}

.social-cont span.inline i.down {
    color: #b20000;
}

.social-cont .social {
    text-align: right;
    display: inline-block;
    float: right;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1.334em) translateZ(0);
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(1.334em) translateZ(0);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1.334em) translateZ(0);
        -moz-transform: translateX(1.334em) translateZ(0);
        -ms-transform: translateX(1.334em) translateZ(0);
        -o-transform: translateX(1.334em) translateZ(0);
        transform: translateX(1.334em) translateZ(0);
    }
    100% {
        opacity: 1;
    }
}

.social span.text-right {
    display: table;
    float: left;
    height: 38px;
    vertical-align: middle;
}

.social span.text-right p {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    font-size: 16px;
    color: rgb(68, 68, 68);
    line-height: 1.2;
}

a.social-icon, a.social-icon:visited {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    background-color: #f0f0f0;
    text-align: center;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 5px 0px;
    color: #444;
    margin: 2px;
    font-size: 20px;
    display: table;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 4px;
    /* Color each button differently */
}

a.social-icon:focus, a.social-icon:active, a.social-icon:hover {
    text-decoration: none;
    color: #FFF;
    border: none;
}

.social-icon i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
}

.social-icon.facebook {
    /* Animation */
    -webkit-animation: fadeInRight 0.6s 0.25s forwards;
    animation: fadeInRight 0.6s 0.25s forwards;
    opacity: 0;
    /* Color */
}

.social-icon.facebook:hover, .social-icon.facebook:active, .social-icon.facebook:focus {
    opacity: 1;
    background-color: #0077b2;
}

.social-icon.twitter {
    /* Animation */
    -webkit-animation: fadeInRight 0.6s 0.5s forwards;
    animation: fadeInRight 0.6s 0.5s forwards;
    opacity: 0;
    /* Color */
}

.social-icon.twitter:hover, .social-icon:nth-child(2):active, .social-icon:nth-child(2):focus {
    opacity: 1;
    background-color: #008cb2;
}

.social-icon.linkedin {
    /* Animation */
    -webkit-animation: fadeInRight 0.6s 0.75s forwards;
    animation: fadeInRight 0.6s 0.75s forwards;
    opacity: 0;
    /* Color */
}

.social-icon.linkedin:hover, .social-icon.linkedin:active, .social-icon.linkedin:focus {
    opacity: 1;
    background-color: #00a1b2;
}

.social-icon.google-plus {
    /* Animation */
    -webkit-animation: fadeInRight 0.6s 1s forwards;
    animation: fadeInRight 0.6s 1s forwards;
    opacity: 0;
    /* Color */
}

.social-icon.google-plus:hover, .social-icon.google-plus:active, .social-icon.google-plus:focus {
    opacity: 1;
    background-color: #e3401d;
}

.social-icon.email {
    /* Animation */
    -webkit-animation: fadeInRight 0.6s 0.75s forwards;
    animation: fadeInRight 0.6s 0.75s forwards;
    opacity: 0;
    /* Color */
}

.social-icon.email:hover, .social-icon.email:active, .social-icon.email:focus {
    opacity: 1;
    background-color: #e3401d;
}

.social-icon img {
    width: 20px;
}

/* POST */

p.post {
    line-height: 1.6;
}

.content-wrap {
    max-width: 930px;
    width: 95%;
    margin-top: 5em;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.comment-item {
    position: relative;
    background: white;
}

.avatar {
    max-width: 80px;
    margin: 0;
    float: left;
}

img.post {
    height: 70px;
    width: 70px;
}

.is-right--inner {
    margin-left: 40px;
    padding-top: 1em;
}

.the--comment {
    text-align: justify;
}

small.post {
    color: #999;
    font-size: 0.7em;
}


.name {
    color: #367588;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 700;
}

.bar {
    color: #999;
    font-size: 1em;
    position: relative;
    top: -4px;
    padding: 0 0.5em;
}


.share {
    padding-left: 0.5em;
    padding-right: 1.1rem;
    position: relative;
    top: -4px;
    color: #999;
    transition: all 400ms ease;
    float: right;
}

.share2:hover {
    cursor: pointer;
}

:hover {
    color: #343434;
}


.sharing-option {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
}

.sharing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a.post {
    color: #999;
    transition: hover 400ms ease;
    font-size: 13px;
}

:hover {
    color: #343434;
}


.icon {
    display: inline-block;
    padding: 0 0.5em;
    transition: all 600ms ease;
    transform: translateY(20px);
    position: relative;
    opacity: 0;
}

.is-viewing {
    opacity: 1;
    transform: translateY(0px);
}


.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
    color: #999;
}

.comment img {
    float: left;
    max-width: 120px;
    border-radius: 60px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2),
    0 0 0 7px rgba(200, 200, 200, 1),
    0 0 0 9px rgba(175, 175, 175, 1),
    0 0 20px rgba(0, 0, 0, .7);
    margin: 20px 0 0 10px;
}

/* Comment */
input, textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    color: #555f77;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ced2db;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ced2db;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ced2db;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ced2db;
}

.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding-right: 2.8rem;
}

.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}

.avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    margin-bottom: 1.25rem;
    word-break: break-word;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}

.comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
}

.comment-actions li.complain {
    padding-right: 1.10rem;
    padding-left: 0.75rem;
}

.comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}

.comment-actions li:hover {
    color: #0095ff;
}

@media (max-width: 768px) {
    .centered-img {
        text-align: center;
    }
}

.ratings {
    padding: 0 0 35px 13px;
}

.photo::after {
    content: '♦';
    color: white;
    font-size: 50px;
    margin-left: 4px;
    position: absolute;
    margin-top: -20px;
}

.choosen-photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}


@media (max-width: 320px) {
    [class = "1"], [class = "2"], [class = "3"], [class = "4"], [class = "5"], [class = "6"], span.sahip {
        font-size: 10px;
    }
}

.share img, .complain img {
    font-size: 30px;
    width: 30px;
}

.badge-buttons {
    padding: 5px 7px 7px 7px;
    background-color: #6c757d;
    border-radius: 25%;
}

.badge-number {
    position: absolute;
    padding-top: 7px;
}

.badge-number-post {
    position: absolute;
    margin-top: -25px;
    margin-left: 35px;
}

/* USER RANK BARS */

[class = "1"] {
    padding: 4px 7px;
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #5cb85c;
}

[class = "2"] {
    padding: 4px 7px;
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #5cb85c;
}

[class = "3"] {
    padding: 4px 7px;
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #5cb85c;
}

[class = "4"] {
    padding: 4px 7px;
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #5cb85c;
}

[class = "5"] {
    padding: 4px 7px;
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #5cb85c;
}

[class = "6"] {
    padding: 4px 7px;
    color: white;
    text-transform: uppercase;
    border-radius: 7px;
    background-color: #5cb85c;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.ajax-search {
    display: block;
    position: absolute;
    background-color: #8c9296;
    width: 100%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.a-post-detail {
    font-weight: bold;
    color: black;
}

.a-post-detail:hover {
    color: mediumblue;
}

.search-li {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 15px;
    padding-top: 20px;
}