input.text-style,
textarea.text-style {
    border-radius: 5px;
    border: 1px solid #00cc66;
    border-bottom: 3px solid #00cc66;
    width: 100%;
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

input.text-style:focus,
textarea.text-style:focus {
    outline: none;
    border: 1px solid #00B0E8;
    border-radius: 5px;
    border-bottom: 3px solid #00B0E8;
    transition-duration: 0.4s;
}

textarea {
    resize: none;
    height: 200px;
}

.row {
    margin-right: 0;
}

input.gonderi {
    background-color: #00CC66;
    color:whitesmoke;
    border-radius: 5px;
}

input.gonderi:hover {
    background-color: #00B0E8;
    color: whitesmoke;
    transition-duration: 0.4s;
}