
button.b {
    background: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    padding: 6px 32px;
    text-decoration: none;
    font-size: 13px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    width: 150px;
    height: 40px;
    text-align: center;
}

button.b:hover {
    background: rgba(0, 0, 0, 0);
    transition-duration: 0.4s;
    color: #00B8A7;
}

button.a {
    border: none;
    font-size: 16px;
    color: darkgrey;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none solid rgba(255, 255, 255, 0.75);
    outline: none;
}

button.a:hover {
    cursor: pointer;
    color: #CCCECB;
}

