{% extends 'userprofile.html' %}

{% block tabs %}
    <div class="user-info-right">
        <div class="profile-table">
            <table>
                <tr>
                    <th>Ad</th>
                    <td>{{ profil.profil.ad }}</td>
                </tr>
                <tr>
                    <th>Soyad</th>
                    <td>{{ profil.profil.soyad }}</td>
                </tr>
                <tr>
                    <th>Cinsiyet</th>
                    <td>{{ profil.profil.get_cinsiyet_display }}</td>
                </tr>
                <tr>
                    <th>Doğum Tarihi</th>
                    <td>{{ profil.profil.dogum_gunu }}</td>
                </tr>
                <tr>
                    <th>Yaş</th>
                    <td>{{ profil.profil.get_age }}</td>
                </tr>
                <tr>
                    <th>E-posta</th>
                    <td>{{ profil.email }}</td>
                </tr>
                <tr>
                    <th>Favori Filmler</th>
                    <td>{{ profil.profil.fav_film }}</td>
                </tr>
                <tr>
                    <th>Favori Yönetmenler</th>
                    <td>{{ profil.profil.fav_yonetmen }}</td>
                </tr>
                <tr>
                    <th>Kayıt Tarihi</th>
                    <td>{{ profil.profil.date_joined }}</td>
                </tr>
                <tr>
                    <th>Son Giriş</th>
                    <td>{{ profil.last_login }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}